/* add css file */
@import url('./header.css');
@import url('./main.css');
@import url('./footer.css');

/* add font */
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Inder", serif;
    /* font-weight: 400;
    font-style: normal; */
}

:root{
    --theme-color:#FFD271;
    --bg-color:#FFFAF1;
    --dark-color:#291003;
    --light-color:#fcfcfc;
    --font-family:"Inder", serif;
}
.container{
    width:90%;
    margin:auto;
}